<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to Text Converter</title>
    <script src="https://kit.fontawesome.com/57a3e51741.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css"> 
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <form action="/QnA" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your Question</label>
            <textarea class="form-control" id="queform" rows="3" name="que"></textarea>
          </div>
        <button type="submit">Get Answer</button>
    </form>

    <% let s = '' %>

    
    <% for(let i = 0 ; i < ans.length ; i++){ %> 
      <% s= s.concat(`${i+1}. ${ans[i]} \r\n`)  %>; 
      <% } %> 



      <!-- <div id="gotque" style="display: none ;"><%= que%></div> -->

      <form action="/saveans" method="post">
        <input type="text" name="getque" id="que" value="<%=que%>">
          <input type="text" name="ans" id="ans" value="<%= s %> ">
          <button type="submit">Save Answer</button>
      </form>
      
      <div class="container">
        <h1>Your Possible Answers are :</h1>
        <%= s %> 
      </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="./js/QnA.js"></script>
</body>
</html>




